.tempering {
  padding: 1rem 5rem;
  font-size: 30px;
}

.sous-vide {
  padding: 0rem 5rem;
  font-size: 20px;
}

.brine {
  padding: 0rem 5rem;
  font-size: 30px;
}

.dry-age {
  padding: 0rem 5rem;
  font-size: 17px;
}
